.navigation {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: white;
  border-radius: 12px;
  border: 2px solid #e1acac4d;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem 0rem;
  margin-top: 90px;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 8px;
  position: relative;
}

.navItem:hover {
  background-color: #f5f5f5;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-bottom: 2px;
}

.label {
  font-size: 14px;
  color: #666;
}

.separatorWrapper {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.separator {
  margin: 0;
  height: 50px;
  width: 1px;
  border: none;
  background-color: #dedede;
}

.navItemWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.activeIcon {
  filter: invert(50%) sepia(86%) saturate(2310%) hue-rotate(331deg)
    brightness(95%) contrast(100%);
}

.activeLabel {
  color: #e91e55 !important;
}

/* Media query for mobile devices */
@media (max-width: 1280px) {
  .navigation {
    max-width: 600px;
    padding: 0rem;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 768px) {
  .navigation {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .separator {
    display: none; /* Hide separators on mobile */
  }

  .navItem {
    width: 100%;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
