.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  width: 600px;
  padding: 0rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.titleGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem;
}

.header h2 {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.content {
  padding: 1.5rem 2rem;
}
